<!-- <app-navbar></app-navbar> -->


    <br>
  
    <div class="login-box">
        <h4>Service Provider Main Page</h4>
    </div>

    <form  #loginForm="ngForm">
        <br>
        <p>
            <label>Account#:</label> {{value}}
        </p>
        <p>
            <label> Name:</label> {{value}}
        </p>
        <p>
            <label> Address Line1:</label> {{value}}
        </p>
        <p>
            <label> Address Line2:</label> {{value}}
        </p>
        <p>
            <label> Address Line3:</label> {{value}}
        </p>
        <!-- <p> -->
            <label> Country:</label> 
            <!-- <input type="text" name='country' ngModel> -->
            <select formControlName="name">
                <option disabled>Select Country</option>
                <option>Choose Country Name</option>
                <option *ngFor="let country of countries">{{country}}</option>
            </select>
        <!-- </p> -->

        
        <p>
            <label> City:</label> {{value}}
            <label class="label2"> State:</label> {{value}}
            <label class="label2"> Zip:</label> {{value}}
        </p>
        <p>
            <label> Phone:</label> {{value}} 
            <label class="label2"> Ext:</label> {{value}}
        </p>
        <p>
            <label> Fax:</label> {{value}}
        </p>
        <p>
            <label> Toll Free:</label> {{value}}
        </p>
        <p>
            <label> Email:</label> {{value}}
            <label class="label2"> Fax</label> {{value}}
        </p>
        <p>
            <label> TimeZone:</label> {{value}}
        </p>
        <p>
            <label> BusinessHour:</label> {{value}}
        </p>
        <p>
            <label class="label2"> Active</label> <input type="checkbox" name='isActive' ngModel>
            <label class="label2"> RateSigned</label> <input type="checkbox" name='isRateSigned' ngModel>
            <label class="label2"> Primary</label> <input type="checkbox" name='isPrimary' ngModel>
        </p>      
    
        
    </form>

    <router-outlet></router-outlet>

