<!-- <app-navbar></app-navbar> -->
<div class="mainpage-container">

    <br>
  
    <div class="login-box">
        <h4>Service Provider</h4>
    </div>

    <form  #loginForm="ngForm">
        <br>
        <p>
            <label> Name:</label> {{this.currentProvider.name}}
        </p>
        <p>
            <label> Address Line1:</label> {{this.currentProvider.address_line1}}
        </p>
        <p>
            <label> Address Line2:</label> {{this.currentProvider.address_line2}}
        </p>
        <p>
            <label> Address Line3:</label> {{this.currentProvider.address_line3}}
        </p>
        <p>
            <label> Country:</label> {{this.currentProvider.country}}
        </p>
            <!-- <input type="text" name='country' ngModel> 
            <select formControlName="name">
                <option disabled>Select Country</option>
                <option>Choose Country Name</option>
                <option *ngFor="let country of countries">{{country}}</option>
            </select> 
    -->
        <!-- </p> -->

        
        <p>
            <label> City:</label> {{this.currentProvider.city}}
        </p>
        <p>
            <label> State:</label> {{this.currentProvider.state}}
        </p>
        <p>
            <label> Zip:</label> {{this.currentProvider.zip_code}}
        </p>
        <p>
            <label> Phone:</label> {{this.currentProvider.phone}} 
            <label class="label2"> Ext:</label> {{this.currentProvider.phone_ext}}
        </p>
        <p>
            <label> Fax:</label> {{this.currentProvider.fax}}
        </p>
        <p>
            <label> Toll Free:</label> {{this.currentProvider.toll_free}}
        </p>
        <p>
            <label> Email:</label> {{this.currentProvider.email}}
        </p>
        <p>
            <label> Primary Contact:</label> {{this.currentProvider.primary_contact}}
        </p>
        <p>
            <label> TimeZone:</label> {{this.currentProvider.time_zone}}
        </p>
        <p>
            <label> Opening Time:</label> {{this.currentProvider.hour_start}}
        </p>
        <p>
            <label> Closing Time:</label> {{this.currentProvider.hour_end}}
        </p>
        <p>
            <label class="label2"> Active</label> <input type="checkbox" onclick="return false;" name='isActive' [(ngModel)]="prov_is_active">
            <label class="label2"> RateSigned</label> <input type="checkbox" onclick="return false;" name='isRateSigned'  [(ngModel)]="prov_rate_signed">
            <label class="label2"> Primary</label> <input type="checkbox" onclick="return false;" name='isPrimary'  [(ngModel)]="prov_primary">
        </p>      
    
        
    </form>

</div>

    <router-outlet></router-outlet>

