<app-navbar></app-navbar>

<div class="header-box">    
    <h4>Add A New Note</h4>
</div>

<div class="addcontact-container">

<div class="addnote-container">
    <mat-card class="add-contact-card">
        <mat-card-header>
          <!-- <mat-card-title><h1>Add A New Note</h1></mat-card-title> -->
        </mat-card-header>
        <mat-card-content>

    <form #noteForm="ngForm" (ngSubmit)="submitNewNote(noteForm)">
   
        <label>Note: </label>
        <input type="text" #body="ngModel" name="body" required minlength="5" [(ngModel)]="formbody" 
                    [class.is-invalid]="body.invalid && body.touched" />
                    <div *ngIf="body.touched && body.errors">
                        <div class="alert alert-danger" *ngIf="body.errors.required">Note body is required</div>
                        <div class="alert alert-danger" *ngIf="body.errors.minlength">Note body should be at least 5 characters long</div>
                    </div>
        <br />

        <button class="btn btn-primary float-left">Submit</button>
        <button class="btn btn-primary float-left" routerLink="main-section" routerLinkActive="active">Back</button>

        </form>

    </mat-card-content>

</mat-card>


</div>

