.header-box {
    
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    /* width: 1280px; */
    min-width: 20vw;
    max-height: 80px;
    text-align:left;
    padding: 10px;
    /* margin: 20px; */

}

.contacts-container {
    min-height: 50vh;
    width: 20vw;
    min-width: 300px;
    /* background-color: rgb(209, 191, 87); */
    border-radius: 14px;
}

input[type="text"]{ 
    /* border-spacing: 10px; 
    border-collapse: separate;
    padding-right: 60px;
    display: table-cell;    */
    /* padding-bottom: 20px; */
    /* float: right; */
    /* display: inline-block; */
          /* width: 150px; */
          
          /* text-align: left; */
          display: inline-block;
          /* float: right;  */
          /* clear: left; */
          width: 250px;  
          font-weight: bold;
          text-align: left;   
  
  }
  
  form { 
      display: table; 
      font-family: 'Karla', sans-serif;
  }
  
  p { 
      display: table-row;  
  }
  
  label[for="others"] {
    display: inline-block;
    /* float: right;  */
    clear: left;
    width: 250px;  
    font-weight: bold;
    text-align: left;
  }

