

<img src="assets/logo.jpg" alt="LOGI logo" >


<div class="scrollmenu">
    <a routerLink="/edit" routerLinkActive="active">EDIT</a>
    <a routerLink="/mainpage" routerLinkActive="active">Service Provide Page</a>
    <a class="right" routerLink="/login" routerLinkActive="active" (click)="logout()">Logout</a>
    <a class="right" routerLink="/addcontact" routerLinkActive="active" >Add Contact</a>
    <a class="right" routerLink="/contact" routerLinkActive="active" >Contact</a>
    <a class="right" routerLink="/addnote" routerLinkActive="active" >Add Note</a>
</div>

<router-outlet></router-outlet>