
<!-- <body > -->
    <div class="login-container">

        <!-- style="background-color:rgb(86, 168, 235);text-align:center" -->
    <h1>Welcome to LOGI</h1>
    
    
    <div class="login-box">
        <form  #loginForm="ngForm" (ngSubmit)="onFormSubmit(loginForm)" >
            <!-- #loginForm="ngForm" (ngSubmit)="onFormSubmit(loginForm)" -->
            <h3>Log In</h3>
            <br>
            <p>
                <label>User Name:</label> <input type="text" name='username' [(ngModel)]="username">
            </p>
            <p>
                <label> Password:</label> <input type="password" name='password' [(ngModel)]="password">
            </p>
            <br>
            <br>
            <br>
            <p> 
                <label></label><button type="submit" class="btn btn-primary float-right" >Log In</button>
                <!-- routerLink="/mainpage" routerLinkActive="active" -->
            </p> 
    
            <p> 
                <label></label><a routerLink="/lostpass" style="float: right;" class="float-right">Forget Password?</a>
            </p> 
            
                <br>
        
            
        </form>
        
    
    </div>
    
    </div>