
<!-- <body > -->
<div class="login-container">

    <!-- style="background-color:rgb(86, 168, 235);text-align:center" -->
<h1>Welcome to LOGI</h1>


<div class="login-box">
    <form  >
        <!-- #loginForm="ngForm" (ngSubmit)="onFormSubmit(loginForm)" -->
        <h3>Log In</h3>
        <br>
        <p>
            <label>User Name:</label> <input type="text" name='username' ngModel>
        </p>
        <p>
            <label> Password:</label> <input type="password" name='password' ngModel>
        </p>
        <!-- <p> -->
            <br>
            <div class="mv-right">
                <button type="submit" class="btn btn-secondary float-right">Log In</button>
                <br>
                <a href="password page" style="float: right;" class="float-right">Forget Password?</a>
            </div>
        <!-- </p> -->
    </form>

</div>

</div>