
.contacts-container {
    min-height: 50vh;
    width: 20vw;
    min-width: 300px;
    /* background-color: rgb(209, 191, 87); */
    border-radius: 3px;
    /* margin: 2px;*/
} 

.header-box {
    
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    /* width: 1280px; */
    min-width: 20vw;
    max-height: 80px;
    text-align:left;
    padding: 10px;
    /* margin: 20px; */

}

form { 
    display: table; 
    font-family: 'Karla', sans-serif;
}

p { 
    display: table-row;  
}

label {
    font-weight: bold;
}

.evenRow {
    background-color: rgba(126, 126, 126, 0.2);
}

.oddRow {
    background-color: rgba(39, 39, 39, 0.2);
}