<!-- <app-navbar></app-navbar> -->
<br>
<div class="contacts-container"> 
    <div class="header-box">    
        <h4>Contact</h4>
    </div>
    
    
    <div class="individual-contact" *ngFor="let c of contacts">
        <p>
            <label></label>{{c.title}} {{c.first_name}}&nbsp;{{c.last_name}}
        </p>
        <p>
            {{c.first_name}}&nbsp;{{c.last_name}}
        </p>
        <p>
            {{c.mobile_phone}}&nbsp;
        </p>
        <p>
            {{c.office_phone}}&nbsp;<label> Ext:</label>{{c.office_ext}}
        </p>
        <p>
            {{c.email}}&nbsp;
        </p>
      
    </div>

   
</div>

