.header-box {
    
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    /* width: 1280px; */
    min-width: 20vw;
    max-height: 80px;
    text-align:left;
    padding: 10px;
    /* margin: 20px; */

}

.contacts-container {
    min-height: 50vh;
    width: 20vw;
    min-width: 300px;
    /* background-color: rgb(209, 191, 87); */
    border-radius: 14px;
}

label {
    display: inline-block;
    /* float: right;  */
    clear: left;
    width: 250px;  
    font-weight: bold;
    text-align: left;
  }

  input[type="text"]{ 
   
          display: inline-block;
          width: 250px;  
          font-weight: bold;
          text-align: left;   
  
  }

  .button1 {
    position: absolute;
    top: 370px;
    left: 250px;
  }
  
  .button2 {
    position: absolute;
    top: 370px;
    left: 400px;
  }
