<img src="assets/logo.jpg" alt="LOGI logo" >

<div class="header-box">    
    <h4>Password Reset Request Form</h4>
</div>

<div class="lostpassword-container">

    <div class="lostpassword-card">
        <!-- <h1>Password Reset Request Form</h1> -->
        <form  #recoverpassform="ngForm" (ngSubmit)="onFormSubmit(recoverpassform)" >
            <br>
            <p>
                <label>User Name: </label> <input type="text" name='username' [(ngModel)]="username">
            </p>
            <p>
                <label>Email: </label> <input type="text" name='email' [(ngModel)]="email">
            </p>
            <br>
            <br>
            <br>
            <p> 
                <label></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="submit" class="btn btn-primary button1">Request Reset</button>
                <button class="btn btn-primary button2" routerLink="/login" routerLinkActive="active">Back</button>
            </p> 
          
        </form>
    </div>


</div>