<div class="lostpassword-container">

    <div class="lostpassword-card">
        <h1>Password Reset Request Form</h1>
        <form  #recoverpassform="ngForm" (ngSubmit)="onFormSubmit(recoverpassform)" >
            <br>
            <p>
                <label>User Name: </label> <input type="text" name='username' [(ngModel)]="username">
            </p>
            <p>
                <label>Email: </label> <input type="text" name='email' [(ngModel)]="email">
            </p>
            <br>
            <br>
            <br>
            <p> 
                <label></label><button type="submit" class="btn btn-primary float-right" >Request Reset</button>
                <!-- routerLink="/mainpage" routerLinkActive="active" -->
            </p> 
          
        </form>
    </div>


</div>